/*-------STYLE FOOTER-------------------*/

.footer-content {
    width : 100%;
    padding: 70px 30px 20px;
}

.footer-content-left {
    display: flex;
    justify-content: center;
}
.footer-content-left a {
    text-decoration: none;
}

.footer-content-left a i {
    font-size: 2rem;
    font-size: clamp(1rem, 0.5rem + 1vw, 2rem);
    background-color: var(--jaune);
    color: var(--noir);
    opacity: 0.9;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.footer-content-left a i:hover {
    background-color: var(--noir);
    color: var(--jaune);
    transition: 0.5s;
}

.footer-content-right {
    margin: 30px 0;
}

.footer-content-right ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-content-right ul li a{
    color: var(--jaune);
    text-decoration: none;
    margin: 20px;
    font-size: 1rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-content-right ul li a:hover {
    color: var(--blanc);
    opacity: 1;
}

.footer-bottom {
    background-color: black;
    color: var(--jaune);
    text-align: center;
    padding: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.336734693877551rem + 0.8163265306122449vw, 1rem);
}

.footers h1 {
    font-size: 0.5rem;
    font-size: clamp(2.5rem, 1.683673469387755rem + 4.081632653061225vw, 1.5rem);
    color: var(--jaune);
    text-transform: uppercase;
}


.footers p {
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.336734693877551rem + 0.8163265306122449vw, 1rem);
}

.footers a {
    color: var(--jaune);
    text-decoration: none;
}

.footers a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .footer-content ul{
        flex-direction: column;
        align-items: center;
    }

    .footer-content ul li {
        width : 100%;
        text-align: center;
        margin: 10px;
    }
}



