/*------------------ GLOBAL STYLES ------------------*/
.links li {
    list-style: none;
    /* Supprime les puces des éléments de liste */
}

.navbar a,
.menu-burger a {
    text-decoration: none;
    /* Supprime le soulignement des liens */
    color: #fff;
    /* Définit la couleur blanche par défaut */
    font-size: 1rem;
    /* Taille de police standard */
}

a:hover {
    color: #F4E904;
    /* Change la couleur au survol */
}

/*------------------ HEADER STYLES ------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    /* Espacement horizontal */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond noir transparent */
    backdrop-filter: blur(100px);
    /* Flou de fond */
    z-index: 10000;
    /* Superpose les autres éléments */
}

/*------------------ NAVBAR ------------------*/

.navbar {
    width: 100%;
    max-width: 1200px;
    /* Limite la largeur maximale */
    height: 85px;
    margin: 0 auto;
    /* Centre horizontalement */

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribution égale des éléments */
}

.navbar .links {
    display: flex;
    gap: 2rem;
    /* Espacement entre les liens */
}

.navbar .menu-burger-button {
    color: white;
    display: none;
    /* Caché par défaut */
    font-size: 1.5rem;
    cursor: pointer;
    /* Style de curseur interactif */
}

/*------------------ ACTION BUTTON ------------------*/
.action-button {
    background-color: rgba(115, 115, 115, 0.9);
    /* Fond gris transparent */
    border-radius: 40px;
    border: 2px solid #F4E904;
    /* Bordure jaune */
    color: white;
    padding: 0.5rem 1.2rem;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    /* Indique un élément interactif */
}

.action-button:hover {
    background-color: #F4E904;
    /* Fond jaune au survol */
    color: black;
    border: 2px solid black;
}

/*------------------ BURGER MENU ------------------*/
.menu-burger {
    display: none;
    /* Caché par défaut */
    height: 0;

    position: absolute;
    right: 2rem;
    top: 85px;
    width: 300px;

    background-color: rgba(0, 0, 0, 0.5);
    /* Fond noir transparent */
    backdrop-filter: blur(100px);
    /* Flou de fond */
    overflow: hidden;
    border-radius: 20px;

    /* Animation */
    transition: height 0.5s ease, box-shadow 0.5s ease;
}

.menu-burger.open {
    height: 392px;
    box-shadow: 0 0 0 1px #fff;
}

.menu-burger li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger .links {
    padding-top: 0.75rem !important;
}

.divider {
    margin: 1rem auto;
    /* Centre la ligne */
    height: 2px;
    background-color: white;
    width: 80%;
    /* Largeur réduite */
}

.menu-burger .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-burger-menu {
    display: flex;
    flex-direction: column;
    /* Organise verticalement */
    justify-content: center;
    align-items: center;
}

/* Animation de l'icône burger */
.menu-burger-button i {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-burger-button i.animate {
    transform: rotate(110deg);
    /* Rotation de l'icône */
    opacity: 0;
    /* Disparaît progressivement */
}

/*------------------ RESPONSIVE DESIGN ------------------*/
@media screen and (max-width: 990px) {
    header {
        background: none;
        backdrop-filter: none;
    }

    .navbar .links,
    .navbar .action-button {
        display: none;
        /* Caché pour les petits écrans */
    }

    .navbar .menu-burger-button {
        display: block;
        /* Affiche le bouton burger */
    }

    .menu-burger {
        display: block;
        /* Permet l'affichage */
    }

    .menu-burger li {
        padding: 0.6rem;
    }
}

@media screen and (max-width: 678px) {
    .li-responsive a {
        font-size: 0.9rem;
        /* Réduit la taille de police */
    }

    .menu-burger li {
        padding: 0.6rem;
    }

    .button-burger-menu a {
        font-size: 0.8rem;
        /* Police plus petite */
    }

    .menu-burger.open {
        height: 372px;
        /* Hauteur visible lorsqu'ouvert */
    }
}

@media screen and (max-width: 476px) {
    .menu-burger {
        left: 3rem;
        right: 3rem;
        width: unset;
        /* Largeur dynamique */
    }

    .menu-burger li {
        padding: 0.4rem;
    }

    .li-responsive a {
        font-size: 0.8rem;
    }

    .divider {
        width: 60%;
        /* Réduit la largeur */
    }

    .menu-burger.open {
        height: 298px;
        /* Hauteur visible lorsqu'ouvert */
    }
}

@media screen and (max-width: 376px) {
    .menu-burger {
        left: 1.5rem;
        right: 1.5rem;
    }
}


/* Carousel */
.carousel {
    position: relative;
    overflow: hidden;
    height: auto;
    display: block;
    width: 120% !important;
    margin-left: -10%;
    padding-bottom: 1rem;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    font-size: 0.9rem !important;
    font-size: clamp(0.9rem, 0.336734693877551rem + 0.8163265306122449vw, 1.5rem) !important;
    flex: 0 0 100%;
    text-align: center;
    color: white;
}

/*pour les petits écran on mets un margin top négatif*/
@media screen and (max-width: 990px) {
    .carousel {
        margin-top: -2rem;
    }

    .carousel-item {
        color: #F4E904 !important;
    }
}

@media screen and (max-width: 678px) {
    .carousel {
        margin-top: -1.5rem !important;

    }
}

@media screen and (max-width: 476px) {
    .carousel {
        margin-top: -1rem;
    }

}

@media screen and (max-width: 330px) {
    .carousel {
        margin-left: -0.5rem;
    }

}